<!DOCTYPE html>
<html>
  <head>
    <title>Open Source BJJ | Home</title>
  </head>
  <body>
    <p>
      This is the home page that has navigation to all other parts of the site, head lines...what's new etc.
    </p>
  </body>
</html>